<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/aboutus.css' />
</head>
<body>
    <%include ../home/header.ejs%>
    <div class="aboutus">
    </div>
    <%include ../home/footer.ejs%>
    <script type="text/javascript" src="js/libs/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/global/common.js"></script>
</body>
</html>
