<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="index.html">网站管理员</a></h1>
			<h2 class="section_title"><%=title%></h2><div class="btn_view_site"><a href="/" target="_blank">查看网站</a></div>
		</hgroup>
	</header>
	
	<section id="secondary_bar">
		<div class="user">
			<p>管理员 (<a href="#">0 条信息</a>)</p>
			<!--<a class="logout_user" href="#" title="Logout">Logout</a> -->
		</div>
	</section><!-- end of secondary bar -->
	
	<aside id="sidebar" class="column">
		<!-- <form class="quick_search">
			<input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
		<hr/> -->
		<!--<h3>我的面板</h3>
		<ul class="toggle">
		    <li><font class="ficomoon icon-profile"></font><a href="/admin/company">修改公司信息</a></li>
			<li><font class="ficomoon icon-profile"></font><a href="#">修改个人信息</a></li>
			<li><font class="ficomoon icon-pwd"></font><a href="#">修改密码</a></li>
			<li><font class="ficomoon icon-logout"></font><a href="logout">退出</a></li>
		</ul>-->
		<h3>服务管理</h3>
		<ul class="toggle">
			<li><font class="ficomoon icon-bbs"></font><a href="/service">新建服务</a></li>
			<li><font class="ficomoon icon-bbs"></font><a href="/service/edit/1">修改服务</a></li>
		</ul>
		<h3>产品管理</h3>
		<ul class="toggle">
		    <li><font class="ficomoon icon-bbs"></font><a href="/product/newProduct">新增</a></li>
			<li><font class="ficomoon icon-bbs"></font><a href="/product/secondList?code=1001">液压过滤器滤芯</a></li>
			<li><font class="ficomoon icon-bbs"></font><a href="/product/secondList?code=1002">空压机三滤及后置过滤器滤芯</a></li>
			<li><font class="ficomoon icon-bbs"></font><a href="/product/secondList?code=1003">真空泵过滤滤芯</a></li>
			<li><font class="ficomoon icon-bbs"></font><a href="/product/secondList?code=1004">金属烧结过滤器滤芯</a></li>
			<li><font class="ficomoon icon-bbs"></font><a href="/product/secondList?code=1005">滤油机系列</a></li>
			<li><font class="ficomoon icon-bbs"></font><a href="/product/secondList?code=1006">其他过滤设备</a></li>
		</ul>
				
		<footer>
			<hr />
			<p><strong>Copyright &copy; 2017 Website Admin</strong></p>
			<p>Theme by <a href="/">AIDA</a></p>
		</footer>
	</aside>