* {
    padding: 0;
    margin: 0;
    outline: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    border: 0;
}

body {
    font: 12px/1.67 "微软雅黑", tahoma, arial;
    height: 100%;
    color: #333;
    background: #f2f2f2;
}

html {
    height: 100%;
}

a,
p {
    text-decoration: none;
    word-wrap: break-word;
    color: #444;
}

a:hover {
     color: #009ce0!important; 
    text-decoration: none;
}

i {
    font-style: normal;
}

li {
    list-style: none;
}

.zp-head {
    margin-bottom: 15px;
    box-shadow: 0px 3px 5px #ddd;
}

.zp-wrap {
    position: relative;
    width: 1080px;
    margin: 0px auto;
}
.zp-wrap:after{
    content: '';
    clear:both;
    display: block;
}
.zp-top {
    background: #eee;
}

.zp-top:after {
    content: '';
    clear: both;
    display: block;
}
.language-setting{
         position: relative;
    width: 60px;
       text-align: center;
    cursor: pointer;
}
.language-s1:after{
    content:'';
    position: absolute;
       left: 52px;
    top: 15px;
    width: 14px;
    height: 14px;
    background: url(/images/lan.gif) no-repeat;
}

.language-setting:hover ul{
  display: block;
    
}
.language-setting ul{
    display: none;
   position: absolute;
    width: 100%;
    top: 32px;
    text-align: center;
    background: #fff;
    z-index: 1;
    border: 1px solid #e1e1e1;
}
.language-setting ul li{
    width: 100%
}
.zp-top ul {
    float: right;
    margin-bottom: 0px;
}

.zp-top ul li {
    float: left;
    margin-right: 16px;
    padding: 6px 0;
}

.zp-top ul li a {
    color: #363636;
}

.zp-top ul li:first-child a {
    color: red;
}

.zp-top ul li:hover a {
    color: #009ce0;
}

.zp-top ul li:first-child:hover a {
    color: red;
}

.zp-top ul li:last-child {
    margin-right: 0px;
}

.zp-top ul li select {
    border: none;
    background: #eee;
    color: #636363;
}

.zp-md {
    background: #fff;
}

.zp-md:after {
    content: '';
    clear: both;
    display: block;
}

.zp-md .zp-logo {
    float: left;
    margin-top: 10px;
}

.zp-md .zp-logo img {
    float: left;
}

.zp-md .zp-contact-style {
    float: right;
    margin-top: 13px;
    margin-bottom: 10px;
}

.zp-md .zp-contact-style .zp-hot-line {
    float: left;
    padding-right: 30px;
    border-right: 1px solid #ccc;
}
.zp-md .zp-contact-style .zp-hot-line p{
    line-height: 1;
    margin:0px;
}
.zp-md .zp-contact-style .zp-hot-line p:first-child {
    font-weight: bold;
    color: #a1a1a1;
    
        padding-bottom: 8px;
}

.zp-md .zp-contact-style .zp-hot-line p:last-child {
    font-weight: bold;
    font-size: 26px;
    color: #ed1b23;
    font-family: Arial;
        text-indent: -2px;
}

.zp-md .zp-contact-style .zp-online-service {
    float: left;
    padding-top: 14px;
    padding-left: 30px;
}
.zp-md .zp-contact-style .online-service{
        padding-right: 30px;
    border-right: 1px solid #ccc;
}
.zp-site-nav:after {
    content: '';
    clear: both;
    display: block;
}

.zp-site-nav {
    background: #302f3d;
}

ul.zp-wrap >li {
    float: left;
    width: 20%;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
    transition: border-top 0.2s;
    -webkit-transition: border-top 0.2s;
    -moz-transition: border-top 0.2s;
    -o-transition: border-top 0.2s;
}

ul.zp-wrap >li a {
    display: block;
    color: #fff;
}

ul.zp-wrap >li>a {
    font-size: 18px;
}

ul.zp-wrap>li .about_nav {
    display: none;
    position: absolute;
    width: 20%;
    top: 40px;
    margin-left: -1px;
    margin-top: 0px;
        border-bottom: 3px solid #009ce0;
    background: #fff;
        box-shadow: 1px 1px 3px #ddd;
    z-index: 9999;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
}

ul.zp-wrap>li .about_nav a {
    font-size: 14px;
}

ul.zp-wrap>li .about_nav .zp-product-list a:hover {
    color: #fff!important;
    background: #009ce0;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -o-transition: background 0.2s;
}

ul.zp-wrap>li .products-nav {
    width: 100%;
    left:0px;
    overflow: hidden;
}
ul.zp-wrap>li .products-nav>ul{
        display: table;
    width: 100%;
}
ul.zp-wrap>li .products-nav>ul>li {
    display: table-cell;
    position: relative;
    text-align: left;
    text-indent: 10px;
}

ul.zp-wrap>li .products-nav>ul>li:hover h3 {
    color: #009ce0;
}

ul.zp-wrap>li .products-nav>ul>li:hover .zp-product-list {
    display: block;
}

ul.zp-wrap>li .about_nav>ul>li>a {
    padding: 7px 15px;
    border-bottom: 1px solid #e0dedf;
    color: #3a3a3a;
}
ul.zp-wrap>li .about_nav>ul>li>a:hover{
    color: #009ce0;
}
ul.zp-wrap>li .products-nav>ul>li>h3 {
        line-height: 1;
    margin: 0px;
    padding: 8px 0 8px 5px;
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    background: #ccc;
}
ul.zp-wrap>li .products-nav>ul>li:last-child>h3{
    border-right: none;
}
ul.zp-wrap>li .products-nav>ul>li>h3>a {
    color: #464646;
}


ul.zp-wrap>li .products-nav>ul>li>.zp-product-list ul li {
    border-bottom: 1px solid #e0dedf;
    line-height: 1;
    background: url(/images/yd.jpg) no-repeat 5px 12px;
    text-indent: 15px;
    margin-right: 8px;
}
ul.zp-wrap>li .products-nav>ul>li>.zp-product-list ul li:last-child{
    border-bottom: none;
}
ul.zp-wrap>li .products-nav>ul>li>.zp-product-list a {
    display: block;
    color: #666;
    font-size: 12px;
    padding: 6px 0;
}

ul.zp-wrap>li:hover .about_nav {
    display: block;
}

ul.zp-wrap>li .servicesupport-nav>ul>li {
    display: inline-block;
    width: 30%;
    padding: 10px;
}

ul.zp-wrap>li .servicesupport-nav {
    width: 40%;
}

.servicesupport-s1 {
          margin-top: -12px;
    cursor: default;
}

.servicesupport-s1 h2 {
    color: #009ce0;
    padding: 5px 0;
}


ul.zp-wrap>li .products-nav ul li a,
ul.zp-wrap>li .servicesupport-nav ul li a {
font-weight: 100;
}

.bread {
    padding-bottom: 10px;
    text-align: right;
    color: #959595;
    font-family: "新宋体";
}

.bread a {
    padding: 0 4px;
    color: #959595;
}

.bread a:hover {
    color: #009ce0;
}


/* 页脚 */

.fotter {
    width: 100%;
    padding-bottom: 32px;
    background: #666464;
    overflow: hidden;
    color: #ccc;
}

.fotter h3 {
    font-size: 20px;
    color: #00aeef;
    line-height: 50px;
        margin: 0px;
}

.fotter a {
    color: #ccc;
}

.fotter a:hover {
    color: #009ce0;
}

.fotter ul.fotter-size-nav {
    margin-bottom: 32px;
}

.fotter ul.fotter-size-nav:after {
    content: '';
    clear: both;
    display: block;
}

.fotter ul.fotter-size-nav li {
    float: left;
        width: 16.66%;
}

.fotter ul.fotter-size-nav li h4 {
    font-size: 14px;
    line-height: 28px;
    margin:0px;
}

.fotter ul.fotter-size-nav li a {
    font-family: "新宋体";
    line-height: 20px;
}

.fotter p {
    color: #ccc;
}

.footer-related-link a {
    padding: 0px 5px;
}


/* 百度分享 */

.share-default {
    float: right;
    text-align: right;
}

.share-default .share-btn,
.share-ss .share-btn {
    height: 28px;
    width: 30px;
    display: inline-block;
    background: url("/images/share_icon.svg") 6px 4px no-repeat;
    position: relative;
    margin: 0;
    float: none;
    padding: 0;
}

.share-default .qzone,
.share-ss .qzone {
    background-position: 6px -36px;
}

.share-default .weixin,
.share-ss .weixin {
    background-position: 6px -276px;
}

.share-menu {
    display: block;
    position: absolute;
    left: 0px;
    top: 28px;
    background: #fff;
    width: 119px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.share-menu ul li {
    float: left;
}

.share-menu a {
    float: left !important;
    width: 79px;
    height: 35px !important;
    line-height: 35px !important;
    padding-left: 40px !important;
    position: relative;
    background-image: none !important;
    margin: 0 !important;
    border-bottom: 3px solid #ffffff;
    text-decoration: none;
    color: #666;
}

.share-menu a:hover {
    color: #0078d7;
    text-decoration: none;
    background-color: #F2F2F2;
    border-bottom: 3px solid #0078d7;
}

.share-menu a i {
    position: absolute;
    left: 11px;
    top: 11px;
    width: 18px;
    height: 18px;
    background: url("/images/share_icon.svg") 0 -80px no-repeat;
}

.share-menu a.qq i {
    background-position: 0 -160px;
}

.share-menu a.douban i {
    background-position: 0 -200px;
}

.share-menu a.renren i {
    background-position: 0 -240px;
}

.share-default .weibo:hover {
    background-position: -34px 4px;
}

.share-default .qzone:hover {
    background-position: -34px -36px;
}

.share-default .weixin:hover {
    background-position: -34px -276px;
}

.share-default .share-btn:hover {
    background-color: #F5F5F5;
}

.share-menu a.tqq:hover i {
    background-position: -40px -80px;
}

.share-menu a.qq:hover i {
    background-position: -40px -160px;
}

.share-menu a.douban:hover i {
    background-position: -40px -200px;
}

.share-menu a.renren:hover i {
    background-position: -40px -240px;
}

#_share {
    position: absolute;
    top: 100px;
    right: 414px;
}



/* 提示框 */
._tips {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 19px 0;
    border-radius: 3px;
    color: #fff;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    box-shadow: rgba(0, 0, 0, .2) 0 0 3px 1px;
    background: #18b536;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 99999;
    font-size: 14px;
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    animation: tip 2.5s;
    -webkit-animation: tip 2.5s;
    -moz-animation: tip 2.5s;
    -o-animation: tip 2.5s;
}

@keyframes tip {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-webkit-keyframes tip {
    0% {
        -webkit-transform: translateY(0);
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-moz-keyframes tip {
    0% {
        -moz-transform: translateY(0);
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
        -moz-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-o-keyframes tip {
    0% {
        -o-transform: translateY(0);
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
        -o-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -o-transform: translateY(-100%);
    }
}

._tips .tip_icon {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 50%;
    margin-left: -13px;
    background-image: url(/images/tip-icon.png);
    background-position: 0 0;
}

._tips .tip_text {
    float: left;
    width: 100%;
    margin-top: 28px;
    padding-top: 5px;
    text-align: center;
}