.case-title{
    padding:15px 0;
}
.products-list:after{
    content: '';
    clear: both;
    display: block;
}
.products-center-item {
    float: left;
    width: 230px;
    height: 173px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #f2f2f2;
    overflow: hidden;
    box-shadow: 0px 3px 4px #ddd;
}

.products-center-item:nth-child(4n) {
    margin-right: 0px;
}

.products-center-item .products-icon {
    width: 230px;
    max-height: 138px;
}

.products-center-item .products-desc {
    padding: 5px;
}
