.details-wrap {
    margin: 20px 0;
}

.details-head:after {
    content: '';
    clear: both;
    display: block;
}

.details-head .products-icon {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 15px;
    border: 1px solid #e5e5e5;
}

.details-head p {
        color: #888;
    line-height: 1;
    padding-top: 8px;
}

.details-content {
    margin-top: 20px;
    box-shadow: 0 0 5px #d4d4d4;
    border: 1px solid #e5e5e5;
}

.details-content-nav {
    border-top: 4px solid #23aae4;
}

.details-content-nav:after {
    content: '';
    clear: both;
    display: block;
}

.details-content-nav span {
    float: left;
    width: 33.33%;
    height: 39px;
    line-height: 39px;
    font-size: 14px;
    background: #f2f2f2;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    cursor: pointer;
}
.details-content-nav span:last-child{
    border-right: none;
}
.details-content-nav .details-cur {
    background: #fff;
    border-bottom: none;
}

.details-content-body {
    min-height: 300px;
    padding: 15px;
        background: #fff;
}

.details-func p {
    color: #666;
}

.details-func table {
    color: #666;
    border-color: #ddd;
}

.details-func table tr td {
    padding-left: 5px;
}
.products-list:after{
    content: '';
    clear:both;
    display: block;
}
.products-center-item {
    float: left;
    width: 166px;
    height: 194px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #f2f2f2;
    overflow: hidden;
    border: 1px solid #e5e5e5;
}

.products-center-item:nth-child(6n) {
    margin-right: 0px;
}

.products-center-item .products-icon {
    display: block;
    width: 166px;
    height: 166px;
}

.products-center-item .products-desc {
    padding: 5px;
}
.details-info{
        display: inline-block;
}
.details-head{
    padding: 15px;
    box-shadow: 0 0 5px #d4d4d4;
    background: #fff;
}
.details-head h1{
       line-height: 1;
    font-size: 16px;
    font-family: "Microsoft Yahei", Arial, 宋体, Helvetica;
    padding-bottom: 8px;
    border-bottom: 1px dotted rgb(204, 204, 204);
}