.carousel-indicators .active {
    width: 80px;
    height: 7px;
        background-color: #009ce0;
}
.carousel-indicators li {
     width: 80px;
    height: 7px;
    vertical-align: middle;
    background-color: #fff \9;
    background-color: #fff;
    border: none;
    border-radius: 3px;
}
.carousel-inner>.item{
    background: gray;
}
.lazy-img{
    width: 100%;
}
/* 常见信息 */

.zp-info {
    margin-bottom: 30px;
}

.zp-info:after {
    content: '';
    clear: both;
    display: block;
}

.zp-info-list {
    float: left;
        width: 346px;
    margin-right: 20px;
    box-shadow: 0 1px 3px #e1e1e1;
}

.zp-info-list:last-child {
    margin-right: 0px;
}

.zp-info-list .zp-info-list-title {
    background: #eee;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.zp-info-list .zp-info-list-title:after {
    content: '';
    clear: both;
    display: block;
}

.zp-info-list .zp-info-list-title .zp-info-name {
    float: left;
    padding: 0px 14px;
    margin-bottom: -1px;
    font-size: 16px;
    background: #fff;
    border-top: 3px solid #009ce0;
    color: #009ce0;
}
.zp-info-list .zp-info-list-title .zp-info-name h4{
    color: #009ce0;
    height: 37px;
    line-height: 37px;
    margin: 0;
}
.zp-info-list .zp-info-list-title a {
    float: right;
        height: 40px;
    line-height: 40px;
    padding-right: 12px;
    color: #898989;
}


.zp-info-list .zp-info-list-content {
        padding: 15px;
    background: #fff;
}

.zp-info-list .zp-info-list-content p {
    padding-bottom: 5px;
}

.zp-info-list .zp-info-list-content a {
    color: #636363;
}



.zp-info-list .zp-info-list-content .zp-info-aboutus-icon {
    float: left;
}

.zp-info-list .zp-info-list-content .zp-info-aboutus-icon img {
    width: 120px;
}

.zp-info-list .zp-info-list-content .zp-info-aboutus-intro {
    margin-left: 120px;
    padding-left: 15px;
}

.zp-info-list .zp-info-news-list {
    margin-bottom: 16px;
}

.zp-info-list .zp-info-news-list:after {
    content: '';
    clear: both;
    display: block;
}

.zp-info-list .zp-info-news img {
    float: left;
    width: 120px;
    height: 73px;
    margin-right: 10px;
    vertical-align: top;
}

.zp-info-list .zp-info-news span {
    color: #a1a1a1;
}





/* 广告位 */

.banner {
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
        margin-top: -15px;
    overflow: hidden;
    position: relative;
}

.banner .carousel {
    height: 450px;
    position: relative;
    overflow: hidden;
    width: 1920px;
    left: 50%;
    margin-left: -960px;
}

.banner .carousel ul {
    width: 100%;
    height: 100%;
}

.banner .carousel ul li {
    float: left;
    width: 100%;
    height: 100%;
}

.banner .carousel ul li img {
    width: 100%;
    height: 100%;
}

.banner .carousel-num {
    position: absolute;
    left: 50%;
    width: 980px;
    height: 40px;
    margin-left: -490px;
    bottom: 0;
    text-align: center;
}

.banner .carousel-num span {
    position: relative;
    display: inline-block;
    width: 104px;
    height: 7px;
    margin: 0 5px;
    border-radius: 2px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    background: #fff;
    cursor: pointer;
}

.banner .carousel-num span:hover {
    background: #009ce0;
}

.banner .carousel-num span:hover img {
    height: 40px;
}

.banner .carousel-num span img {
    position: absolute;
    width: 104px;
    height: 0px;
    left: 0;
    bottom: 7px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    transition: height .3s;
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    -o-transition: height .3s;
}

.banner .carousel-num .carousel-cur {
    opacity: 1;
    filter: alpha(opacity=100);
}

.banner .carousel-pre {
    left: 0px;
}

.carousel-pre i {
    left: 12px;
}

.banner .carousel-next {
    right: 0px;
}

.banner .carousel-next i {
    right: 12px;
    background-position: -20px 0;
}


/*  热门推荐 */

.hot-recommended {
    background: #009ce0;
    margin-bottom: 30px;
    height: 132px;
    overflow: hidden;
}

.hot-recommended h2 {
    float: left;
    width: 154px;
    padding-top: 50px;
    padding-left: 32px;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hot-recommended a {
    display: block;
    float: left;
    height: 100%;
    margin-right: 25px;
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
    color: #fff;
    position: relative;
}

.hot-recommended a:hover {
    background: #0062b5;
}

.hot-recommended a img {
    height: 45px;
}
.hot-recommended p{
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

/* 滚动广告 */

.zp-ad {
    position: relative;
    width: 930px;
    margin-bottom: 30px;
}

.zp-ad>a {
    width: 15px;
    height: 18px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    background-image: url(/images/btn.png);
    text-indent: 15px;
    overflow: hidden;
}

.zp-ad .zp-ad-pre {
    left: -25px;
}

.zp-ad .zp-ad-next {
    right: -25px;
    background-position: -15px 0;
}

#demo {
    overflow: hidden;
}

#demo img {
    float: left;
    height: 100px;
    margin: 0 2px;
}

#indemo {
    float: left;
    width: 800%;
}

#demo1 {
    float: left;
}

#demo2 {
    float: left;
}



