.products-nav-content {
    float: left;
    width: 240px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 1px 1px 3px #c7c7c7;
}

.products-nav-content>h3 {
    padding: 8px 15px;
    font-size: 15px;
    line-height: 1;
    background: #666;
    color: #fff;
}

.products-nav-content>h3 .icon-everyone {
    margin-top: -3px;
}

.products-nav-content .products-list {
    padding: 0px;
}

.products-nav-content:after {
    content: '';
    clear: both;
    display: block;
}

.products-list>ul {
    position: relative;
}

.products-list>ul>li {
    position: relative;
    text-align: left;
    font-size: 14px;
    color: #3a3a3a;
    font-weight: bold;
    border-bottom: 1px solid #f2f2f2;
}

.products-list>ul>li>a {
    position: relative;
    display: block;
    padding: 8px 0;
    padding-left: 15px;
    font-weight: normal;
    font-size: 12px;
    z-index: 2;
}

.products-list>ul>li:first-child:hover {
    border-bottom: 1px solid #a1a1a1;
    border-top: none;
}

.products-list>ul>li:last-child:hover {
    border-bottom: none;
    border-top: 1px solid #a1a1a1;
}

.products-list>ul>li:hover {
    border-top: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
}

.products-list>ul>li:hover>a {
    border-right: 1px solid #fff;
    margin-right: -1px;
    color: #009ce0!important;
}

ul>li.product-cur>a {
    border-right: 1px solid #fff;
    color: #009ce0!important;
}

.products-list>ul>li:last-child {
    border-right: none;
}

.icon-everyone {
    float: right;
    padding-right: 3px;
    font-size: 19px;
    font-weight: normal;
    vertical-align: text-bottom;
}

.products-list>ul>li:hover ul {
    display: block;
}

.products-list>ul>li>ul {
    display: none;
    position: absolute;
    width: 420px;
    left: 238px;
    margin-top: -35px;
    text-indent: 20px;
    text-align: left;
    background: #fff;
    border: 1px solid #a1a1a1;
    z-index: 1;
}

.products-list>ul>li>ul li a {
    display: block;
    line-height: 1;
    padding: 11px 0 10px;
    font-size: 12px;
    color: #666;
    border-bottom: 1px solid #f2f2f2;
    font-weight: normal;
}

.products-center-item {
    float: left;
    width: 149px;
    margin-right: 12px;
    margin-bottom: 15px;
    background: #fff;
}

.products-center-item:nth-child(5n) {
    margin-right: 0px;
}

.products-center-item .products-icon {
    display: block;
    position: relative;
    width: 100%;
    height: 150px;
    background: #f2f2f2;
    overflow: hidden;
}

.products-center-item .products-icon img {
    display: block;
    width: 100%;
}

.products-center-item .products-desc {
    padding: 5px;
    cursor: pointer;
}
.products-center-item .products-desc:hover{
    text-decoration: underline;
}
.products-wrap {
    float: left;
    width: 825px;
    margin-left: 15px;
    min-height: 600px;
}

.products-wrap>h3 {
    padding: 8px 15px;
    margin-bottom: 10px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    color: #666;
    font-weight: normal;
    font-size: 14px;
}

.products-list {
    float: left;
    width: 100%;
    background: #fff;
    padding: 15px 15px 0px;
    border: 1px solid #a1a1a1;
}

.products-list:after {
    content: '';
    clear: both;
    display: block;
}

.nav {
    float: right;
    margin-top: 15px;
    padding-bottom: 20px;
}


/*****************************************************************/


/*  pagination                                                                            */


/*****************************************************************/

ul.pagination {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font: 12px 'Tahoma';
    text-align: right
}

ul.pagination li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
}

ul.pagination li:first-child {
    margin-left: 0px;
}

ul.pagination li a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 7px 10px 7px 10px;
}

ul.paginationA li a {
    color: #FFFFFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

ul.paginationA01 li a {
    color: #474747;
    border: solid 1px #B6B6B6;
    padding: 6px 9px 6px 9px;
    background: #fff;
}

ul.paginationA01 li a:hover,
ul.paginationA01 li a.current {
    background: #e0dedf;
}

ul.paginationA01 li a:active {
    background: #D9D9D9;
}
