.products-nav {
    margin-bottom: 20px;
    padding: 15px;
        background: #fff;
    border: 1px solid #e5e5e5;
}

.products-nav:after {
    content: '';
    clear: both;
    display: block;
}

.products-r1 {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.products-r1:last-child{
    border-bottom: none;
}
.products-r1:after {
    content: '';
    clear: both;
    display: block;
}

.products-r1>h3 {
    float: left;
    margin-right: 20px;
    line-height: 1;
    padding: 8px 0;
    text-align: right;
}

.products-r1 .products-list {
    float: left;
    width: 903px;
}

.products-r1 .products-list:after {
    content: '';
    clear: both;
    display: block;
}

.products-r1 .products-list ul:after {
    content: '';
    clear: both;
    display: block;
}

.products-r1 .products-list ul li {
    float: left;
    padding: 9px;
    line-height: 1;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 2px;
}

.products-r1 .products-list ul li.cur {
    background: #009ce0;
    color: #fff;
    border-radius: 3px;
}

.products-r1 .products-list ul li:hover {
    color: #009ce0;
}

.products-r1 .products-list ul li.cur:hover {
    color: #fff;
}

.products-r1 .products-list ul li.cur a {
    color: #fff;
}

.products-center-item {
    float: left;
    width: 230px;
    height: 173px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0px 3px 4px #ddd;
}

.products-center-item:nth-child(4n) {
    margin-right: 0px;
}

.products-center-item .products-icon {
    width: 230px;
    max-height: 138px;
}

.products-center-item .products-desc {
    padding: 5px;
}
.products-wrap{

}
.products-wrap>h3 {
       padding: 12px 15px;
    margin-bottom: 15px;
    border-top: 1px solid #eee;
    background: #fff;
}
.products-list{

}
.products-list:after {
    content: '';
    clear: both;
    display: block;
}
.nav {
	padding-top:14px;
	margin:0 3%;
	width: 95%
}

/*****************************************************************/
/*	pagination																			  */
/*****************************************************************/
ul.pagination
{
	margin:0px;
	padding:0px;
	overflow:hidden;
	font:12px 'Tahoma';
	text-align:right
}
ul.pagination li
{
	display:inline-block;
	margin:0px;
	padding:0px;
	margin-left:5px;
}
ul.pagination li:first-child
{
	margin-left:0px;
}
ul.pagination li a
{
	color:black;
	display:block;
	text-decoration:none;
	padding:7px 10px 7px 10px;
}
ul.paginationA li a
{
	color:#FFFFFF;
	border-radius:3px;	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
ul.paginationA01 li a
{
	color:#474747;
	border:solid 1px #B6B6B6;
	padding:6px 9px 6px 9px;
	background:#E6E6E6;
	background:-moz-linear-gradient(top,#FFFFFF 1px,#F3F3F3 1px,#E6E6E6);
	background:-webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#FFFFFF),color-stop(0.02,#F3F3F3),color-stop(1,#E6E6E6));
}	
	
ul.paginationA01 li a:hover,
ul.paginationA01 li a.current
{
	background:#FFFFFF;
}
ul.paginationA01 li a:active{
	background:#D9D9D9;
	background:-moz-linear-gradient(top,#FFFFFF 1px,#EAEAEA 1px,#b6b6b6);
	background:-webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#FFFFFF),color-stop(0.02,#EAEAEA),color-stop(1,#b6b6b6));	
}
