.servicesupport {
    padding: 20px 0;
    background: #f5f5f5 url(/images/service_bg.jpg) no-repeat center top;
        padding: 60px 0 20px;
    margin-top: -15px;
}

.servicesupport-slider {
    float: left;
    width: 195px;
    background: #fff;
    box-shadow: 2px 2px 6px #d3d3d3;
    border-left: 1px solid #e5e5e5;
}

.servicesupport-container {
    margin-left: 210px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 3px 5px #ddd;
}

.servicesupport-slider ul li {
    position: relative;
    border-bottom: 1px dotted #c2c2c2;
}

.servicesupport-slider ul li:hover {
    color: #009ce0;
}

.servicesupport-slider ul li:after {
    content: '>';
    position: absolute;
    right: 15px;
    top: 10px;
}

.servicesupport-slider ul li a {
    display: block;
    padding: 10px 0 10px 30px;
}

.servicesupport-slider ul li.newscenter {
    font-weight: normal;
    padding: 20px 0 20px 90px;
    background: url(/images/servicenav.png) no-repeat 20px center;
    border-top: 4px solid #009ce0;
    font-size: 20px;
    color: #464646;
}

.servicesupport-slider ul li.newscenter:after {
    content: '';
}

.service-cur {
    color: #009ce0;
}

.service-cur a {
    color: #009ce0;
}
.bread a {
    padding:0 10px;
    color: #009ce0;
}
/* 关于公司 */
.companyrelative ul li.newscenter{
background: url(/images/abouticon.gif) no-repeat 20px center;
padding-left: 70px;
}

