<!DOCTYPE html>
<html>

<head>
    <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/aboutus.css' />
</head>

<body>
    <%include ../public/header.ejs%>
        <div class="aboutus-wrap">
            <div class="zp-wrap">
                <div class="aboutus-content">
                    <div class="aboutus-c1">
                        <h2>艾达概况</h2>
                        <p>新乡市艾达机械设备有限公司是专业生产工业过滤器，滤芯，滤油机的厂家。具有二十余年生产经验，技术力量雄厚，生产设备精良，检测手段完善，产品质量稳定，被评为名优产品、质量信得过企业、全面质量管理达标企业、科技成果奖等荣誉称号。 　　我公司是集研发、设计、制造、销售于一体的现代化企业，汇集一批技术研究开发的专业人才，可免费提供技术咨询、设备选型及安装设计，解决产品使用维护过程中所有问题，并提供一切可行性售后服务。 　　 我公司一贯视产品质量为生命，重视科技进步，质量达到国内先进水平。产品广泛用于钢厂，电厂，造纸，冶金，化工，铸造，石油，制药，环保工程等领域，主要产品有： 一 、国标黎明液压过滤器及滤芯系列 1、吸油过滤器 2、回油过滤器 3、压力管路过滤器 4、双筒回油过滤器 5、磁性过滤器 6、液压空气滤清器 二、国外替代过滤器及滤芯系列 PALL（颇尔）/HYDAC（贺德克）/MAHLE（玛勒）/PARKE（派克）/ARGO（雅歌）/FILTREC（富卓）/STAUFF（西德福）/VICKERS（威格士）/EPPENSTEINER（EPE）/Rexroth（力士乐）TAISEI KOGYO（大生）/INTERNORMEN（英德诺曼） 三、压缩机滤芯（油分，油滤，空滤）系列 Atlas copco（阿特拉斯）/Ingersoll Rand(英格索兰）/Liutech Fuda（柳州富达）/Sullair (寿力）/Compair(康普艾）/MANN（曼） Busch(普旭)/Leybold（莱宝）/里其乐（Rietschle）/贝克尔（Becker)真空泵滤芯 四、金属烧结滤芯系列 五、滤油机系列 便携式/便移式/箱式/防爆式/高估含量/高真空/高精度/高粘度/聚结脱水滤油机系列 以上产品成功建立了成熟的国内外销售网络，产品畅销至二十余国家。</p>
                    </div>
                    <div class="aboutus-c2">
                       <h2>公司荣耀</h2>
                    <p><img src="/images/bg/1-14042QK300164.jpg"></p> 
                    </div>
                    <div class="aboutus-c2">
                          <h2>企业文化</h2>
                    <p>艾达机械纲领： 政治纲领 奉献——为人民为社会多奉献。 文化纲领 爱心——把爱心融入我们的产品，企业。 产品纲领 品质——我们的产品让用户生活更美好。 服务纲领 感恩——感恩的心，感谢有您。 立德纲领 忏悔——我的微小失误，会给您造成伤害。 成长纲领 精进——每天进步一点点。 创业纲领 勤节——勤奋、节俭、诚信。 安全纲领 敬畏——敬畏产品，就是安全。 员工纲领 奋进——和老板一起做行业的领头羊。 老板纲领 成就——成就员工梦想，让我们有车有房有存折。</p>



                    <div class="aboutus-c3">
                          <h2>联系我们</h2>
                   <p>
                        新乡市艾达机械设备有限公司
                    </p>
                    <p>
                        电 话：0373-5128206&nbsp;&nbsp;&nbsp;
                    </p>
                    <p>
                        手机：15137376132
                    </p>
                    <p>
                        企业QQ：2230845473
                    </p>
                    <p>
                        电子邮件：sales@aida-machinery.com&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p>
                        公司地址：新乡市红旗区一号工业园108号
                    </p>
                    <p>
                        <br/>
                    </p>
                    </div>
                    </div>

                  
                </div>
            </div>
        </div>
       <%include ../public/footer.ejs%>
            <script type="text/javascript" src="js/libs/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="js/global/common.js"></script>
</body>

</html>
