<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=1080">
<!--上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后-->
<meta name="keywords" content="新乡市艾达机械设备有限公司">
<meta name="description" content="新乡市艾达机械设备有限公司">
<title>新乡市艾达机械设备有限公司</title>
<!--[if lt IE 9]>
<script src="/js/libs/html5shiv.min.js"></script>
<script src="/js/libs/respond.min.js"></script>
<![endif]-->
<link rel='stylesheet' href='/css/base.css?t=201705102356'/>
<link rel='stylesheet' href='/css/details.css?t=201705102356'/>
</head>
<body>
<div class="zp-head">
       <div class="zp-top">
        <div class="zp-wrap">
            <ul>
                <li><a href="http://m.1688.com/winport/b2b-31674918387115f.html" rel="nofollow" target="_blank">阿里巴巴</a></li>
                <li><a href="/contactus" rel="nofollow">联系我们</a></li>
                <li><a href="/aboutus" rel="nofollow">关于我们</a></li>
                <li id="language-setting" class="language-setting">
                
                    <a href="http://en.aidafilter.cn/" target="_blank" rel="nofollow" class="language-s1">English</a>
                    <ul><li><a href="http://zh.aidafilter.cn/" target="_blank" rel="nofollow">中文</a></li></ul>
                
                </li>
            </ul>
        </div>
</div>
<div class="zp-md">
<div class="zp-wrap">
    <a href="/"><div class="zp-logo"><img src="/images/logo/logo.png"></div></a>
    <div class="zp-contact-style">
        <div class="zp-hot-line">
            <p>24小时热线</p>
            <p>15137376132</p>
        </div>
        <a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2230845473&amp;site=qq&amp;menu=yes">
            <div class="zp-online-service online-service">
                <img src="/images/logo/online.jpg">
            </div>
        </a>
        <div class="zp-online-service">
            <img src="/images/logo/freefone.jpg">
        </div>
    </div>
</div>
</div>
<div class="zp-site-nav">
    <ul class="zp-wrap">
        <li><a href="/">首   页</a></li>
        <li class="nav_first">
            <a href="/products/list?code=2101&fCode=1001">产品中心</a>
            <div class="about_nav products-nav">
                <ul>
                    <li>
                        <h3><a href="/products/list?code=2101&fCode=1001">液压过滤器滤芯</a></h3>
                        <div class="zp-product-list">
                            <ul>
                                <li><a href="/products/list?code=2101&fCode=1001">国标黎明过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2102&fCode=1001">颇尔过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2103&fCode=1001">贺德克过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2104&fCode=1001">玛勒过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2105&fCode=1001">派克过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2106&fCode=1001">雅歌过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2107&fCode=1001">富卓过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2108&fCode=1001">西德福过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2109&fCode=1001">威格士过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2110&fCode=1001">EPE过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2111&fCode=1001">大生过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2112&fCode=1001">英德诺曼过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2113&fCode=1001">翡翠过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2114&fCode=1001">唐纳森过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2115&fCode=1001">力士乐过滤器滤芯</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <h3><a href="/products/list?code=2201&fCode=1002">空压机三滤及后置过滤器滤芯</a></h3>
                        <div class="zp-product-list">
                            <ul>
                                <li><a href="/products/list?code=2201&fCode=1002">阿特拉斯过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2202&fCode=1002">英格索兰过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2203&fCode=1002">寿力过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2204&fCode=1002">复盛过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2205&fCode=1002">康普艾过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2206&fCode=1002">曼过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2207&fCode=1002">富达过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2208&fCode=1002">派克过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2209&fCode=1002">多米尼克过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2210&fCode=1002">汉克森过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2211&fCode=1002">先达过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2212&fCode=1002">BEA过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2213&fCode=1002">SMC过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2214&fCode=1002">海沃斯过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2215&fCode=1002">超滤过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2216&fCode=1002">台湾石大过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2217&fCode=1002">凯撒过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2218&fCode=1002">神钢空压机滤芯</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <h3><a href="/products/list?code=2301&fCode=1003">真空泵过滤器滤芯</a></h3>
                        <div class="zp-product-list">
                            <ul>
                                <li><a href="/products/list?code=2301&fCode=1003">普旭真空泵油雾过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2302&fCode=1003">里其乐真空泵过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2303&fCode=1003">莱宝真空泵过滤器滤芯</a></li>
                                <li><a href="/products/list?code=2304&fCode=1003">贝克尔真空泵过滤器滤芯</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <h3><a href="/products/list?code=2401&fCode=1004">金属烧结过滤器滤芯</a></h3>
                        <div class="zp-product-list">
                            <ul>
                                <li><a href="/products/list?code=2401&fCode=1004">标准五层及多层金属烧结网</a></li>
                                <li><a href="/products/list?code=2402&fCode=1004">冲孔板复合烧结网</a></li>
                                <li><a href="/products/list?code=2403&fCode=1004">不锈钢纤维烧结毡</a></li>
                                <li><a href="/products/list?code=2404&fCode=1004">化纤熔体用滤芯</a></li>
                                <li><a href="/products/list?code=2405&fCode=1004">制药机械网滤盘</a></li>
                                <li><a href="/products/list?code=2406&fCode=1004">化工过滤用滤芯</a></li>
                                <li><a href="/products/list?code=2407&fCode=1004">高炉喷煤用流化板</a></li>
                                <li><a href="/products/list?code=2408&fCode=1004">高温除尘滤筒</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <h3><a href="/products/list?code=2501&fCode=1005">滤油机系列</a></h3>
                        <div class="zp-product-list">
                            <ul>
                                <li><a href="/products/list?code=2501&fCode=1005">便携式滤油机</a></li>
                                <li><a href="/products/list?code=2502&fCode=1005">便移式滤油机</a></li>
                                <li><a href="/products/list?code=2503&fCode=1005">箱式滤油机</a></li>
                                <li><a href="/products/list?code=2504&fCode=1005">高精度滤油机</a></li>
                                <li><a href="/products/list?code=2505&fCode=1005">高粘度滤油机</a></li>
                                <li><a href="/products/list?code=2506&fCode=1005">高固含量滤油机</a></li>
                                <li><a href="/products/list?code=2507&fCode=1005">聚结脱水滤油机</a></li>
                                <li><a href="/products/list?code=2508&fCode=1005">防暴滤油机</a></li>
                                <li><a href="/products/list?code=2509&fCode=1005">高效真空滤油机</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <h3><a href="/products/list?code=2601&fCode=1006">其他过滤设备</a></h3>
                        <div class="zp-product-list">
                            <ul style="background: none;">
                                <li><a href="/products/list?code=2601&fCode=1006">内吸式自动自清洗过滤器</a></li>
                                <li><a href="/products/list?code=2602&fCode=1006">自动反清洗过滤器</a></li>
                                <li><a href="/products/list?code=2603&fCode=1006">多单元自动反清洗过滤系统</a></li>
                                <li><a href="/products/list?code=2604&fCode=1006">烛式自动过滤系统</a></li>
                                <li><a href="/products/list?code=2605&fCode=1006">袋式过滤器</a></li>
                                <li><a href="/products/list?code=2606&fCode=1006">板式密封过滤机</a></li>
                                <li><a href="/products/list?code=2607&fCode=1006">管道过滤器</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="/case/1">解决方案</a></li>
        <li class="nav_first"><a href="/service/support/">服务支持</a>
            <div class="about_nav servicesupport-nav">
                <ul>
                    <li><a href="/service/guarantee">服务保障</a></li>
                    <li><a href="/service/process">服务流程</a></li>
                </ul>
                <div class="servicesupport-s1">
                <h2>售后服务，一站到位</h2>
                </div>
            </div>
        </li>
        <li class="nav_first"><a href="/news/enterprisedynamic">新闻中心</a>
            <div class="about_nav">
                <ul>
                    <li><a href="/news/enterprisedynamic/">企业动态</a></li>
                    <li><a href="/news/productinformation/">产品资讯</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
</div>
<div class="zp-wrap">
    <div class="details-wrap">
        <div class="details-head">
            <span class="products-icon" title="" alt=""><img src="/images/ueditor/f3f653c0-3df8-11e7-8c1e-2fb0a1c5c4c0.jpg"></span>
            <div class="details-info">
                 <h1 class="products-desc"><%= cases.name%></h1>
                <p>作者：aidaFilter 日期：<%= cases.createDate%></p>
               <!--  <div class="products-js">
                    <p>品牌： </p>
                    <p>型号： </p>
                    <p>滤材： </p>
                    <p>过滤精度： </p>
                    <p>工作温度： </p>
                    <p>公称压力： </p>
                    <p>应用领域： </p>
                </div> -->
                <%-cases.description%>
            </div>
        </div>
        <div class="details-content">
            <div id="details-content-body" class="details-content-body">
               <div id="details-products-intro" class="details-func">
                 <p><span style="color: rgb(137, 137, 137); font-family: Arial, SimSun; font-size: 12px; background-color: rgb(255, 255, 255);">山东化工厂滤器产品使用经典案例，</span><a href="http://www.aidafilter.cn/HighPrecisionOilFilter/" style="text-decoration-line: none; color: rgb(139, 139, 139); font-family: Arial, SimSun; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255);">滤油机</a><span style="color: rgb(137, 137, 137); font-family: Arial, SimSun; font-size: 12px; background-color: rgb(255, 255, 255);">的使用周期为三个月。</span><br style="color: rgb(137, 137, 137); font-family: Arial, SimSun; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255);"/><br style="color: rgb(137, 137, 137); font-family: Arial, SimSun; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255);"/><img alt="" src="http://www.aidafilter.cn/uploads/allimg/140428/1-14042R20304347.jpg" style="margin: 0px; padding: 0px; border: 0px; vertical-align: middle; color: rgb(137, 137, 137); font-family: Arial, SimSun; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255); width: 500px; height: 416px;"/></p>
                </div>
               <!--  <div id="details-related-products" class="details-func">
                    <div class="products-list">
                        <div class="products-center-item">
                            <a href="/details" title="阿特拉斯压缩机油分1622 3140 00" alt="阿特拉斯压缩机油分1622 3140 00"><img class="products-icon" src="/images/test/t1.jpg"></a>
                            <p class="products-desc">多米尼克Domnick Hunter精密过滤器AO001</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="fotter">
    <div class="zp-wrap">
        <ul class="fotter-size-nav">
            <li>
                <h4>关于我们</h4>
                <p><a href="/companyinfo">公司简介</a></p>
                <p><a href="/companyhonor">公司荣誉</a></p>
                <p><a href="/companyculture">企业文化</a></p>
                <p><a href="/contactus">联系我们</a></p>
            </li>
            <li>
                <h4>产品中心</h4>
                
                 <p><a href="/products/1001/2101.html">
                Һѹ
                </a></p>
                
                 <p><a href="/products/1002/2201.html">
                
                </a></p>
                
                 <p><a href="/products/1003/2301.html">
                
                </a></p>
                
                 <p><a href="/products/1004/2401.html">
                
                </a></p>
                
                 <p><a href="/products/1005/2501.html">
                
                </a></p>
                
                 <p><a href="/products/1006/2601.html">
                
                </a></p>
                
            </li>
            <li>
                <h4>解决方案</h4>
                <p><a href="/case-detail.html">山东化工厂滤器产品使用经典案例</a></p>
            </li>
            <li>
                <h4>服务支持</h4>
                <p><a href="/ServiceSupport">服务支持</a></p>
                <p><a href="/ServiceGuarantee">服务保障</a></p>
                <p><a href="/ServiceProcess">服务流程</a></p>
            </li>
            <li>
                <h4>新闻中心</h4>
                <p><a href="/EntreprisesNews/">企业动态</a></p>
                <p><a href="/ProductInformation">产品资讯</a></p>
            </li>
        </ul>
         
        
    </div>
</div>
<script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/plugs/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/global/common.js"></script>
            <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="/js/global/common.js"></script>
            <script type="text/javascript">
            $('#details-content-nav span').bind('click', function() {
                $('#details-content-nav span').removeClass('details-cur');
                $(this).addClass('details-cur');

                $('#details-content-body .details-func').hide();
                var _id = $(this).data('id');
                $('#' + _id).show();
            });
            $('ul#products-primary-nav li').bind('click', function() {
                $('ul#products-primary-nav li').removeClass('cur');
                $(this).addClass('cur');
                $('.products-types').hide();
                var dataId = $(this).data('id');
                $('#' + dataId).show();
            });
            </script>
</body>
</html>
