<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/products.css' />
</head>

<body>
    <%include ../public/header.ejs%>
        <div class="zp-wrap" style=" margin-bottom: 20px;">
            <h3 class="case-title" style="margin-bottom: 15px;line-height: 1">解决方案</h3>
            <div class="products-list">
                <div class="products-center-item">
                    <a href="/details?id=d535ce30-34ce-11e7-a3ed-558af64c7b98" title="SLQ-32双筒网式过滤器" alt="SLQ-32双筒网式过滤器">
                        <div class="products-icon">
                            <img src="/images/ueditor/d535ce30-34ce-11e7-a3ed-558af64c7b98.jpg">
                        </div>
                    </a>
                    <p class="products-desc">SLQ-32双筒网式过滤器</p>
                </div>
            </div>
        </div>
        <%include ../public/footer.ejs%>
            
</body>

</html>
