<!DOCTYPE html>
<html>

<head>
    <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/case.css' />
</head>

<body>
    <%include ../public/header.ejs%>
        <div class="bread">
            <p class="zp-wrap">您当前位置：<a href="/">首页</a>&gt;<a href="/case">解决方案</a></p>
        </div>
        <div class="zp-wrap" style=" margin-bottom: 20px;">
            <div class="products-list">
                <div class="products-center-item">
                    <a href="/case/1.html">
                        <div class="products-icon">
                            <img src="/images/case.jpg" title="山东化工厂滤器产品使用经典案例" alt="山东化工厂滤器产品使用经典案例">
                        </div>
                    </a>
                    <p class="products-desc">山东化工厂滤器产品使用经典案例</p>
                </div>
            </div>
        </div>
        <%include ../public/footer.ejs%>
            
</body>

</html>
