<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/case.css' />
</head>

<body>
    <%include ../public/header.ejs%>
        <div class="case zp-wrap">
            <h3 class="case-title">解决方案</h3>
            <div class="products-list">
                <div class="products-center-item">
                    <a href="/details?id=14e6a9c2-1ebe-11e7-8c55-9c5c8ed1af8c"><img class="products-icon" src="/images/1-14042R20304347-lp.jpg"></a>
                    <p class="products-desc">
                        山东化工厂滤器产品使用经典案例
                    </p>
                </div>
            </div>
        </div>
        <%include ../public/footer.ejs%>
            
</body>

</html>
