<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/servicesupport.css' />
</head>

<body>
    <%include ../public/header.ejs%>
        <div class="servicesupport companyrelative">
            <div class="zp-wrap">
                <%include ../public/companyrelative.ejs%>
                    <div class="servicesupport-container">
                        <div class="bread">您的位置：<a href="/" target="_blank">首页</a>><a href="/aboutus">关于AIDA</a>><a href="/companyculture/"><%= title %></a></div>
                        <div class="ny_right">
      <div class="ny_right_tit">
         <h3>企业文化</h3>
      </div>
      <div class="ny_right_text">
 
<strong><span style="font-size:14px;">艾达机械纲领：</span></strong><br>
政治纲领 奉献——为人民为社会多奉献。<br>
文化纲领 爱心——把爱心融入我们的产品，企业。<br>
产品纲领 品质——我们的产品让用户生活更美好。<br>
服务纲领 感恩——感恩的心，感谢有您。<br>
立德纲领 忏悔——我的微小失误，会给您造成伤害。<br>
成长纲领 精进——每天进步一点点。<br>
创业纲领 勤节——勤奋、节俭、诚信。<br>
安全纲领 敬畏——敬畏产品，就是安全。<br>
员工纲领 奋进——和老板一起做行业的领头羊。<br>
老板纲领 成就——成就员工梦想，让我们有车有房有存折。
      </div>
    </div>
                    </div>
            </div>
        </div>
        <%include ../public/footer.ejs%>
            <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="/js/global/common.js"></script>
</body>

</html>
