<!DOCTYPE html>
<html>

<head>
   <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/servicesupport.css' />
</head>

<body>
    <%include ../public/header.ejs%>
    <div class="servicesupport companyrelative">
        <div class="bread">
            <p class="zp-wrap"><%=__('CurrentLocation')%>：<a href="/"><%=__('Home')%></a>&gt;<a href="/aboutus">关于AIDA</a>&gt;<a href="/companyculture"><%=__('CompanyCulture')%></a></p>
        </div>
        <div class="zp-wrap">
            <%include ../public/companyrelative.ejs%>
            <div class="servicesupport-container">
                <div class="news_class">
                        <span class="n_span1"><font class="red">企业</font>文化</span>
                </div>
                <div class="service-content">
                    <p>
                        <strong><span style="font-size: 16px;">企业文化</span></strong>
                    </p>
                    <p>
                        <strong><span style="font-size: 14px;">艾达机械纲领：</span></strong>
                    </p>
                    <p>
                        政治纲领 奉献——为人民为社会多奉献。
                    </p>
                    <p>
                        文化纲领 爱心——把爱心融入我们的产品，企业。
                    </p>
                    <p>
                        产品纲领 品质——我们的产品让用户生活更美好。
                    </p>
                    <p>
                        服务纲领 感恩——感恩的心，感谢有您。
                    </p>
                    <p>
                        立德纲领 忏悔——我的微小失误，会给您造成伤害。
                    </p>
                    <p>
                        成长纲领 精进——每天进步一点点。
                    </p>
                    <p>
                        创业纲领 勤节——勤奋、节俭、诚信。
                    </p>
                    <p>
                        安全纲领 敬畏——敬畏产品，就是安全。
                    </p>
                    <p>
                        员工纲领 奋进——和老板一起做行业的领头羊。
                    </p>
                    <p>
                        老板纲领 成就——成就员工梦想，让我们有车有房有存折。
                    </p>
                    <p>
                        <br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <%include ../public/footer.ejs%>
    <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/global/common.js"></script>
</body>

</html>
