<!DOCTYPE html>
<html>

<head>
   <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/servicesupport.css' />
</head>

<body>
  <%include ../public/header.ejs%>
  <div class="servicesupport companyrelative">
      <div class="bread">
          <p class="zp-wrap">您当前位置：<a href="/">首页</a>&gt;<a href="/aboutus">关于AIDA</a>&gt;<a href="/companyhonor">公司荣誉</a></p>
      </div>
      <div class="zp-wrap">
          <%include ../public/companyrelative.ejs%>
          <div class="servicesupport-container">
              <div class="news_class">
                  <span class="n_span1"><font class="red">公司</font>荣誉</span>
              </div>
              <div class="service-content">
                  &nbsp;<img alt="" src="/images/bg/1-14042QK300164.jpg" style="width: 552px; height: 782px;">
              </div>
          </div>
      </div>
  </div>
  <%include ../public/footer.ejs%>
  <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/js/global/common.js"></script>
</body>
</html>
