<!DOCTYPE html>
<html>

<head>
    <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/servicesupport.css' />
</head>

<body>
    <%include ../public/header.ejs%>
        <div class="servicesupport companyrelative">
        <div class="bread">
            <p class="zp-wrap">您当前位置：<a href="/">首页</a>&gt;<a href="/aboutus">关于AIDA</a>&gt;<a href="/companyinfo">公司简介</a></p>
        </div>
            <div class="zp-wrap">
                <%include ../public/companyrelative.ejs%>
                    <div class="servicesupport-container">
                        <div class="ny_right">
      <div class="ny_right_tit">
         <h3>公司简介</h3>
      </div>
      <div class="ny_right_text">
 
<div style="text-align: justify;">
    &nbsp; &nbsp; &nbsp; 新乡市艾达机械设备有限公司是专业生产工业过滤器，滤芯，滤油机的厂家。具有二十余年生产经验，技术力量雄厚，生产设备精良，检测手段完善，产品质量稳定，被评为名优产品、质量信得过企业、全面质量管理达标企业、科技成果奖等荣誉称号。<br>
    &nbsp;<br>
    　　我公司是集研发、设计、制造、销售于一体的现代化企业，汇集一批技术研究开发的专业人才，可免费提供技术咨询、设备选型及安装设计，解决产品使用维护过程中所有问题，并提供一切可行性售后服务。<br>
    　　<br>
    &nbsp; &nbsp; &nbsp;我公司一贯视产品质量为生命，重视科技进步，质量达到国内先进水平。产品广泛用于钢厂，电厂，造纸，冶金，化工，铸造，石油，制药，环保工程等领域，主要产品有：<br>
    &nbsp;<br>
    &nbsp;一 、国标黎明液压过滤器及滤芯系列<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1、吸油过滤器<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2、回油过滤器<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3、压力管路过滤器<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4、双筒回油过滤器<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5、磁性过滤器<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6、液压空气滤清器<br>
    &nbsp;<br>
    二、国外替代过滤器及滤芯系列<br>
    &nbsp;&nbsp;&nbsp;&nbsp; PALL（颇尔）/HYDAC（贺德克）/MAHLE（玛勒）/PARKE（派克）/ARGO（雅歌）/FILTREC（富卓）/STAUFF（西德福）/VICKERS（威格士）/EPPENSTEINER（EPE）/Rexroth（力士乐）TAISEI KOGYO（大生）/INTERNORMEN（英德诺曼）<br>
    &nbsp;<br>
    三、压缩机滤芯（油分，油滤，空滤）系列<br>
    Atlas copco（阿特拉斯）/Ingersoll Rand(英格索兰）/Liutech Fuda（柳州富达）/Sullair (寿力）/Compair(康普艾）/MANN（曼）<br>
    &nbsp;<br>
    Busch(普旭)/Leybold（莱宝）/里其乐（Rietschle）/贝克尔（Becker)真空泵滤芯<br>
    &nbsp;<br>
    四、金属烧结滤芯系列<br>
    &nbsp;<br>
    五、滤油机系列<br>
    &nbsp;&nbsp;&nbsp; 便携式/便移式/箱式/防爆式/高估含量/高真空/高精度/高粘度/聚结脱水滤油机系列<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
    以上产品成功建立了成熟的国内外销售网络，产品畅销至二十余国家。<br>
    <br>
    <img alt="" src="/images/bg/1-14042R1151W20.jpg" style="width: 630px; height: 424px;"></div>

      </div>
    </div>
                        
                    </div>
            </div>
        </div>
        <%include ../public/footer.ejs%>
            <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="/js/global/common.js"></script>
</body>

</html>
