<!DOCTYPE html>
<html>

<head>
    <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/servicesupport.css' />
</head>

<body>
    <%include ../public/header.ejs%>
        <div class="servicesupport companyrelative">
         <div class="bread">
            <p class="zp-wrap">您当前位置：<a href="/">首页</a>&gt;<a href="/aboutus">关于AIDA</a>&gt;<a href="/contactus">联系我们</a></p>
        </div>
            <div class="zp-wrap">
                <%include ../public/companyrelative.ejs%>
                    <div class="servicesupport-container">
                        <div class="ny_right_text">
 
<strong style="padding-bottom: 10px;display: block;">新乡市艾达机械设备有限公司</strong>
<ul style="margin: 0px; padding-right: 0px; padding-left: 0px; border: 0px;  font-family: Arial, SimSun;">
    <li style="margin: 0px; padding: 0px; border: 0px; list-style: none; line-height: 22px; font-size: 13px;">
        电 话：0373-5128206&nbsp;&nbsp;&nbsp;</li>
    <li style="margin: 0px; padding: 0px; border: 0px; list-style: none; line-height: 22px; font-size: 13px;">
        手机：15137376132</li>
    <li style="margin: 0px; padding: 0px; border: 0px; list-style: none; line-height: 22px; font-size: 13px;">
        企业QQ：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2230845473&amp;site=qq&amp;menu=yes" style="text-decoration: none; ">2230845473</a></li>
    <li style="margin: 0px; padding: 0px; border: 0px; list-style: none; line-height: 22px; font-size: 13px;">
        电子邮件：<a href="mailto:sales@aida-machinery.com" style="text-decoration: none; color: rgb(139, 139, 139);"><span style="color: rgb(0, 51, 153); font-size: 14px;">sales@aida-machinery.com</span></a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li style="margin: 0px; padding: 0px; border: 0px; list-style: none; line-height: 22px; font-size: 13px;">
        公司地址：新乡市红旗区一号工业园108号</li>
</ul>
<div style="margin: 0px; padding: 0px; border: 0px; list-style: none; line-height: 22px; font-size: 13px;">
    <br>
    <img alt="" src="/images/bg/1-140603230305414.jpg" style="width: 743px; height: 198px;"></div>

      </div>
                    </div>
            </div>
        </div>
        <%include ../public/footer.ejs%>
            <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="/js/global/common.js"></script>
</body>

</html>
