<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/details.css' />
</head>

<body>
    <%include header.ejs%>
        <div class="zp-wrap">
            <div class="details-wrap">
                <div class="details-head">
                    <a href="/details" title="阿特拉斯压缩机油分1622 3140 00" alt="阿特拉斯压缩机油分1622 3140 00"><img class="products-icon" src="/images/test/t1.jpg"></a>
                    <h1 class="products-desc">多米尼克Domnick Hunter精密过滤器AO001</h1>
                    <p>日期：2014-04-28 作者：艾达机械</p>
                </div>
                <div class="details-content">
                    <div id="details-content-nav" class="details-content-nav">
                        <span class="details-cur" data-id='details-products-intro'>产品介绍</span>
                        <span data-id='details-contact-us'>联系我们</span>
                        <span data-id='details-related-products'>相关产品</span>
                        <span data-id='details-servicesupport'>服务支持</span>
                    </div>
                    <div id="details-content-body" class="details-content-body">
                        <div id="details-products-intro" class="details-func">
                            <p>
                                <strong>ARGO雅歌液压油滤芯 V3052013</strong>
                            </p>
                            <p>
                                <strong><br/></strong>
                            </p>
                            <p>
                                ARGO雅歌液压油滤芯的技术参数：&nbsp;
                            </p>
                            <p>
                                产品简介：
                            </p>
                            <p>
                                介质：一般液压油滤芯 磷酸酯液压油 乳化液 水一乙二醇
                            </p>
                            <p>
                                &nbsp;过滤材料：采用优质的玻璃纤维滤材 &nbsp;不锈钢编织网 滤纸
                            </p>
                            <p>
                                过滤精度：从1、3、6、12、25……μm 过滤比：X≧100
                            </p>
                            <p>
                                结构强度：1.0Mpa, 2.0Mpa, 16.0Mpa, 21.0Mpa
                            </p>
                            <p>
                                工作温度：－30～+100℃
                            </p>
                            <p>
                                使用范围：用于液压、润滑系统的压油过滤，用以滤除系统中污染物，保证系统的正常运行。
                            </p>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            </p>
                            <p>
                                测试标准：
                            </p>
                            <p>
                                滤抗破裂性验证按 ISO 2941
                            </p>
                            <p>
                                滤芯结构完整性按 ISO 2943
                            </p>
                            <p>
                                滤芯相容性验证按 ISO 2943
                            </p>
                            <p>
                                过滤器过滤特性按 ISO 4572过滤器压差特性按 ISO 3968
                            </p>
                            <p>
                                流量—压差特性试验按 ISO 3968
                            </p>
                            <p>
                                <br/>
                            </p>
                            <table align="left" border="1" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3052013</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3081716</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>K3.0918-52</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0520-00</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3052016</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3081718</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>K3.0920-52</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0520-01</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3052018</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3081726</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>K3.0920-62</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0520-02</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3052053</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3082303</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>K3.0925-52</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0520-05</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3052056</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3082306</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>K3.1026-52</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0520-51</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3052058</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3082308</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>K3.1034-52</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0520-52</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3060703</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3082313</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0613-01</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0520-62</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3060706</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3082316</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0613-02</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0607-01</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3060708</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3082318</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0617-01</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0613-51</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3062053</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3082326</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0617-02</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0613-52</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3062056</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3083303</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0617-11</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0620-51</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3062058</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3083306</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0717-01</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0620-52</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3062088</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3083308</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0717-02</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0623-02</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3062303</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3083313</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0833-01</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0623-11</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3062306</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3083316</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0922-02</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0712-00</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3062308</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3083318</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0920-11</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0712-01</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3062313</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3083326</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0920-15</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0713-01</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3062318</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3092308</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0920-20</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0720-00</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3062326</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3093303</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0920-22</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0720-01</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3071303</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3093306</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0923-01</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0720-62</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3072003</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3093308</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0933-01</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0730-51</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3072008</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3093313</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.0933-02</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0730-52</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3072013</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3093316</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.1030-01</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0817-01</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3072016</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3093318</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.1217-12</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0817-12</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3072018</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3093326</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.1217-21</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0823-01</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3072308</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3094006</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.1220-01</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0823-12</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3072556</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3094008</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P2.1220-02</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0833-01</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3072558</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>V5124006</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0510-00</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0830-12</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3073053</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>W3062308</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0510-02</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.1117-00</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3073056</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>W3072008</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0510-05</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.1117-10</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3073058</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>W3081706</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0510-11</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.1123-00</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3073068</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>W3081708</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0510-50</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.1123-10</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3081703</strong></td>
                                        <td style="width:167px;height:24px;">
                                            &nbsp;</td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0510-51</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P7.0610-01</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3081706</strong></td>
                                        <td style="width:167px;height:24px;">
                                            &nbsp;</td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0510-52</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>S2.0613-00</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:24px;">
                                            <strong>V3081708</strong></td>
                                        <td style="width:167px;height:24px;">
                                            &nbsp;</td>
                                        <td style="width:167px;height:24px;">
                                            <strong>P3.0510-53</strong></td>
                                        <td style="width:167px;height:24px;">
                                            <strong>S2.0613-05</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:167px;height:23px;">
                                            <strong>V3081713</strong></td>
                                        <td style="width:167px;height:23px;">
                                            &nbsp;</td>
                                        <td style="width:167px;height:23px;">
                                            <strong>P3.0510-62</strong></td>
                                        <td style="width:167px;height:23px;">
                                            <strong>S2.0613-10</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="details-contact-us" class="details-func" style="display: none">
                            <h3>联系我们：</h3>
                            <p>电 话：0373-5128206 </p>
                            <p> 手 机： 15137376132 企业QQ:2230845473 </p>
                            <p>邮 编：453000 </p>
                            <p>电子邮件：sales@aida-machinery.com </p>
                            <p>公司地址：新乡市红旗区一号工业园108号 </p>
                        </div>
                        <div id="details-related-products" class="details-func" style="display: none">
                            <div class="products-list">
                                <div class="products-center-item">
                                    <a href="/details" title="阿特拉斯压缩机油分1622 3140 00" alt="阿特拉斯压缩机油分1622 3140 00"><img class="products-icon" src="/images/test/t1.jpg"></a>
                                    <p class="products-desc">多米尼克Domnick Hunter精密过滤器AO001</p>
                                </div>
                                <div class="products-center-item">
                                    <a href="/details" title="阿特拉斯压缩机油分1622 3140 00" alt="阿特拉斯压缩机油分1622 3140 00"><img class="products-icon" src="/images/test/t2.jpg"></a>
                                    <p class="products-desc">多米尼克Domnick Hunter精密过滤器AO001</p>
                                </div>
                                <div class="products-center-item">
                                    <a href="/details" title="阿特拉斯压缩机油分1622 3140 00" alt="阿特拉斯压缩机油分1622 3140 00"><img class="products-icon" src="/images/test/t3.jpg"></a>
                                    <p class="products-desc">阿特拉斯压缩机油分1622 3140 00</p>
                                </div>
                                <div class="products-center-item">
                                    <a href="/details" title="阿特拉斯压缩机油分1622 3140 00" alt="阿特拉斯压缩机油分1622 3140 00"><img class="products-icon" src="/images/test/t1.jpg"></a>
                                    <p class="products-desc">阿特拉斯压缩机油分1622 3140 00</p>
                                </div>
                                <div class="products-center-item">
                                    <a href="/details" title="阿特拉斯压缩机油分1622 3140 00" alt="阿特拉斯压缩机油分1622 3140 00"><img class="products-icon" src="/images/test/t3.jpg"></a>
                                    <p class="products-desc">阿特拉斯压缩机油分1622 3140 00</p>
                                </div>
                            </div>
                        </div>
                         <div id="details-servicesupport" class="details-func" style="display: none">
                        <p>
                            <strong>售前服务：</strong>
                            <br/>
                        </p>
                        <p>
                            <br/>1、根据顾客的需要，过滤产品的特点以及过滤产品的用途、精度、技术参数等，为用户进行选型参考，提供设备配置方案。
                            <br/>2、设备配置方案经顾客同意后，艾达机械技术人员到顾客现场进行勘察测量，为顾客进行最经济的设备工艺布置 。
                            <br/>
                            <br/><strong>售中服务：</strong>
                        </p>
                        <p>
                            1、顾客可直接到艾达机械考察、洽谈、签约。
                            <br/>2、提供产品设计图和产品方案。
                            <br/>3、顾客产品使用前，为顾客进行基础放线。
                            <br/>4、如果顾客只过滤产品的配件部分，技术设计仍由艾达机械提供，同时提供相应结构件图纸，由顾客自行制作。
                            <br/>5、顾客提货时，艾达机械可代办运输，设备安全运抵目的地后，派技术人员到现场进行指导安装、调试，培训操作人员直到达标达产，顾客满为止。
                            <br/>
                            <br/><strong>售后服务：</strong>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            1、艾达机械设备实行&quot;三包&quot;，保修期一年（易损件除外）。
                            <br/>2、保修期内接到客户的故障电话，1小时提供解决方案，需要技术人员现场处理的，国内72小时内到达现场，协助排除故障 直至恢复正常生产为止。
                            <br/>3、及时优质优价提供产品配件供应。
                            <br/>4、定期回访，对客户进行满意度调查，了解设备的使用情况，向客户介绍过滤产品的新技术、新产品。
                        </p>
                        <p>
                            <br/>
                        </p>
                    </div>
                    </div>

                </div>
            </div>
        </div>
        <%include footer.ejs%>
            <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="/js/global/common.js"></script>
            <script type="text/javascript">
            $('#details-content-body').on('click', '.details-func', function() {


            });
            $('#details-content-nav span').bind('click', function() {
                $('#details-content-nav span').removeClass('details-cur');
                $(this).addClass('details-cur');

                $('#details-content-body .details-func').hide();
                var pid = $(this).data('id');
                $('#' + pid).show();
            });
            $('ul#products-primary-nav li').bind('click', function() {
                $('ul#products-primary-nav li').removeClass('cur');
                $(this).addClass('cur');
                $('.products-types').hide();
                var dataId = $(this).data('id');
                if (dataId === 'products-primary-01') {
                    $('#products-primary-01').show();

                } else if (dataId === 'products-primary-02') {
                    $('#products-primary-02').show();
                } else if (dataId === 'products-primary-03') {
                    $('#products-primary-03').show();
                } else if (dataId === 'products-primary-04') {
                    $('#products-primary-04').show();
                } else if (dataId === 'products-primary-05') {
                    $('#products-primary-05').show();
                } else if (dataId === 'products-primary-06') {
                    $('#products-primary-06').show();
                }
            });
            </script>
</body>

</html>
