<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/index.css' />
</head>

<body>
    <%include header.ejs%>
        <div class="banner">
            <div class="carousel" id="index-pic">
                <ul>
                    <li>
                        <a href="#"><img class="lazy-img" src="/images/1.jpg" title="惊蛰已过，春暖花开"></a>
                    </li>
                    <li style="display: none;">
                        <a href="#"><img class="lazy-img" src="/images/2.jpg" title="惊蛰已过，春暖花开"></a>
                    </li>
                    <li style="display: none;">
                        <a href="#"><img class="lazy-img" src="/images/3.jpg" title="惊蛰已过，春暖花开"></a>
                    </li>
                    <li style="display: none;">
                        <a href="#"><img class="lazy-img" src="/images/4.jpg" title="惊蛰已过，春暖花开"></a>
                    </li>
                </ul>
                <div class="carousel-num" id="carousel-num">
                    <span class="carousel-cur">
                        <a href="#"><img src="/images/1.jpg"></a>
                    </span>
                    <span>
                        <a href="#"><img src="/images/2.jpg"></a>
                    </span>
                    <span>
                        <a href="#"><img src="/images/3.jpg"></a>
                    </span>
                    <span>
                        <a href="#"><img src="/images/4.jpg"></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="zp-wrap hot-recommended">
            <h2>热门推荐</h2>
            <a href="#">
                <img src="/images/tj-1.png">
                <p>液压过滤器滤芯</p>
            </a>
            <a href="#">
                <img src="/images/tj-2.png">
                <p>液压过滤器滤芯</p>
            </a>
            <a href="#">
                <img src="/images/tj-3.png">
                <p>液压过滤器滤芯</p>
            </a>
            <a href="#">
                <img src="/images/tj-4.png">
                <p>液压过滤器滤芯</p>
            </a>
            <a href="#">
                <img src="/images/tj-5.png">
                <p>液压过滤器滤芯</p>
            </a>
        </div>
        <div class="zp-wrap zp-ad">
            <a href="#" class="zp-ad-pre"></a>
            <a href="#" class="zp-ad-next"></a>
            <div id="demo">
                <div id="indemo">
                    <div id="demo1">
                        <a href="#"><img src="/images/ad-1.jpg" border="0" /></a>
                        <a href="#"><img src="/images/ad-2.jpg" border="0" /></a>
                        <a href="#"><img src="/images/ad-3.jpg" border="0" /></a>
                        <a href="#"><img src="/images/ad-4.jpg" border="0" /></a>
                        <a href="#"><img src="/images/ad-5.jpg" border="0" /></a>
                    </div>
                    <div id="demo2"></div>
                </div>
            </div>
        </div>
        <div class="zp-wrap zp-info">
            <div class="zp-info-list">
                <div class="zp-info-list-title">
                    <div class="zp-info-name">
                        <h4>新闻中心</h4></div>
                    <a href="#">更多&gt;</a>
                </div>
                <div class="zp-info-list-content zp-info-news">
                    <div class="zp-info-news-list">
                        <img src="/images/news-1.jpg">
                        <a href="/ProductInfo/311.html" title="">油田滤芯、注井水滤芯 一体式聚,油田滤芯、注井水滤芯... </a>
                        <span>2017-03-07</span>
                    </div>
                    <div class="zp-info-news-list">
                        <img src="/images/news-1.jpg">
                        <a href="/ProductInfo/311.html" title="">油田滤芯、注井水滤芯 一体式聚,油田滤芯、注井水滤芯... </a>
                        <span>2017-03-07</span>
                    </div>
                </div>
            </div>
            <div class="zp-info-list">
                <div class="zp-info-list-title">
                    <div class="zp-info-name">
                        <h4>技术支持</h4></div>
                    <a href="#">更多&gt;</a>
                </div>
                <div class="zp-info-list-content">
                    <div class="zp-info-aboutus-icon"><img src="/images/apic.jpg"></div>
                    <p class="zp-info-aboutus-intro"><a href="#">艾达机械设备有限公司是一家专业致力于工业液压油过滤器滤芯，压缩机过滤器滤芯及金属烧结滤芯研发，生产，销售，服务于一体的专业滤器厂家。咨询电话：0373-</a></p>
                </div>
            </div>
            <div class="zp-info-list">
                <div class="zp-info-list-title">
                    <div class="zp-info-name">
                        <h4>行业应用</h4></div>
                    <a href="#">更多&gt;</a>
                </div>
                <div class="zp-info-list-content">
                    <div class="zp-info-aboutus-icon"><img src="/images/apic.jpg"></div>
                    <p class="zp-info-aboutus-intro"><a href="#">艾达机械设备有限公司是一家专业致力于工业液压油过滤器滤芯，压缩机过滤器滤芯及金属烧结滤芯研发，生产，销售，服务于一体的专业滤器厂家。咨询电话：0373-</a></p>
                </div>
            </div>
        </div>
        <%include footer.ejs%>
        <script type="text/javascript" src="js/libs/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="js/global/common.js"></script>
        <script type="text/javascript">
             //广告位
    function banner() {
        var now = 0,
            $span = $("#carousel-num").find('span'),
            $li = $("#index-pic").find('ul li'),
            total = $li.length;
        var roll = function() {
            $span.removeClass('carousel-cur');
            if (now == total - 1) {
                now = 0;
            } else {
                now = now + 1;
            }
            for (i = 0; i < total; i++) {
                $li.eq(i).css("display", "none");
            }

            $li.eq(now).fadeIn(400);
            $span.eq(now).addClass('carousel-cur');
        };
        var int = setInterval(roll, 5000);
        $span.bind('mouseenter mouseleave', function(e) {
            if (e.type === 'mouseenter') {
                window.clearInterval(int);
                if ($(this).index() != now) {
                    now = $(this).index() - 1;
                    roll();
                }
            } else {
                int = setInterval(roll, 5000);
            }
        });
        $li.bind('mouseenter mouseleave', function(e) {
            if (e.type === 'mouseenter') {
                window.clearInterval(int);
            } else {
                int = setInterval(roll, 5000);
            }
        });
    }
    banner();
    //轮播
    function zpad() {
        var speed = 50;

        var tab = document.getElementById("demo");

        var tab1 = document.getElementById("demo1");

        var tab2 = document.getElementById("demo2");

        tab2.innerHTML = tab1.innerHTML;

        function Marquee() {

            if (tab2.offsetWidth - tab.scrollLeft <= 0)

                tab.scrollLeft -= tab1.offsetWidth
            else {
                tab.scrollLeft++;

            }

        }

        var MyMar = setInterval(Marquee, speed);

        tab.onmouseover = function() {
            clearInterval(MyMar)
        };

        tab.onmouseout = function() {
            MyMar = setInterval

                (Marquee, speed)
        };
    }
    zpad();
        </script>
</body>

</html>
