<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/servicesupport.css' />
</head>

<body>
    <%include ../public/header.ejs%>
    <div class="servicesupport">
        <div class="zp-wrap">
           <%include ../public/service.ejs%>
            <div class="servicesupport-container">
                <div class="bread">您的位置：<a href="/">首页</a>><a href="/servicesupport/">服务与支持</a></div>
                <p>
                    <strong>售前服务：</strong>
                    <br/>
                </p>
                <p>
                    <br/>1、根据顾客的需要，过滤产品的特点以及过滤产品的用途、精度、技术参数等，为用户进行选型参考，提供设备配置方案。
                    <br/>2、设备配置方案经顾客同意后，艾达机械技术人员到顾客现场进行勘察测量，为顾客进行最经济的设备工艺布置 。
                    <br/>
                    <br/><strong>售中服务：</strong>
                </p>
                <p>
                    1、顾客可直接到艾达机械考察、洽谈、签约。
                    <br/>2、提供产品设计图和产品方案。
                    <br/>3、顾客产品使用前，为顾客进行基础放线。
                    <br/>4、如果顾客只过滤产品的配件部分，技术设计仍由艾达机械提供，同时提供相应结构件图纸，由顾客自行制作。
                    <br/>5、顾客提货时，艾达机械可代办运输，设备安全运抵目的地后，派技术人员到现场进行指导安装、调试，培训操作人员直到达标达产，顾客满为止。
                    <br/>
                    <br/><strong>售后服务：</strong>
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    1、艾达机械设备实行&quot;三包&quot;，保修期一年（易损件除外）。
                    <br/>2、保修期内接到客户的故障电话，1小时提供解决方案，需要技术人员现场处理的，国内72小时内到达现场，协助排除故障 直至恢复正常生产为止。
                    <br/>3、及时优质优价提供产品配件供应。
                    <br/>4、定期回访，对客户进行满意度调查，了解设备的使用情况，向客户介绍过滤产品的新技术、新产品。
                </p>
                <p>
                    <br/>
                </p>
            </div>
        </div>
        </div>
        <%include ../public/footer.ejs%>
            <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="/js/global/common.js"></script>
</body>

</html>
