<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/servicesupport.css' />
</head>

<body>
    <%include ../public/header.ejs%>
        <div class="servicesupport">
            <div class="zp-wrap">
                <%include ../public/service.ejs%>
                    <div class="servicesupport-container">
                        <div class="bread">您的位置：<a href="/">首页</a>><a href="/ServiceProcess/">服务流程</a></div>
                        <p>
                            <strong><span style="font-size: 12px;">现场规划：</span></strong>
                        </p>
                        <p>
                            <strong><span style="font-size: 12px;">1. 实施要求：</span></strong><span style="font-size: 12px; line-height: 1.5em;">&nbsp;</span>
                        </p>
                        <p>
                            <span style="font-size: 12px;">客户从产品购买之日，我们的服务也就拉开了序幕。在设备进场和未来转场前向艾达机械提出新规划要求后，经我们双方沟通协商，签订产品方案协议书。艾达机械就会按照协议时间、具体要求派技术人员前去实施。</span><span style="font-size: 12px; line-height: 1.5em;">&nbsp;</span>
                        </p>
                        <p>
                            <strong><span style="font-size: 12px;">2. 向客户提供的书面材料</span></strong><span style="font-size: 12px; line-height: 1.5em;">&nbsp;</span>
                        </p>
                        <p>
                            <span style="font-size: 12px;">根据客户所提供设备进场现场平面尺寸及所要规划的内容，艾达机械在短时间内为客户提供出设备解决方案，并通过传真或邮寄的方式反馈给客户，经确认无误后，开始生产。</span>
                        </p>
                        <p>
                            <strong><span style="font-size: 12px;">3. 现场规划时艾达机械的服务内容</span></strong><span style="font-size: 12px; line-height: 1.5em;">&nbsp;</span>
                        </p>
                        <p>
                            <span style="font-size: 12px;">A.艾达机械的技术人员到达现场后，按照双方确定的图纸，进行测绘。</span>
                        </p>
                        <p>
                            <span style="font-size: 12px;">B. 监督客户现场技工人员按照图纸的要求进行使用</span>
                        </p>
                        <p>
                            <span style="font-size: 12px;">C. 向客户提供设备在生产过程中对原材料的标准要求</span>
                        </p>
                        <p>
                            <strong><span style="font-size: 12px;">4. 现场规划的收费和结算办法</span></strong>
                        </p>
                        <p>
                            <span style="font-size: 12px;">根据购买合同和售后服务手册及双方协议，有收费标准可供您选择：分为二类：详见细节。</span>
                        </p>
                        <p>
                            <span style="font-size: 12px;">安装调试：</span>
                        </p>
                        <p>
                            <span style="font-size: 12px;">1. 适用于艾达机械滤油机、过滤器机的安装调试工作</span>
                        </p>
                        <p>
                            <span style="font-size: 12px;">2. 安装调试工作分为指导安装调试和承包安装调试工作两种</span>
                        </p>
                        <p>
                            <span style="font-size: 12px;">⑴ 指导安装调试：指艾达机械派一至两名技术人员到客户现场指导客户人员对设备进行安装调试。</span>
                        </p>
                        <p>
                            <span style="font-size: 12px;">⑵ 承包安装：指所有的安装调试工作由艾达机械派人进行，按照设备标准安装调试到标准工作。</span>
                        </p>
                        <p>
                            <strong><span style="font-size: 12px;">5. 安装调试客户需提供的帮助</span></strong>
                        </p>
                        <p>
                            <span style="font-size: 12px;">5.1指导安装：</span>
                        </p>
                        <p>
                            <span style="font-size: 12px;">非艾达机械产品的需要您提供设备的工作原理图和设备平面布置图，并帮助安排安装人员的食宿、调试所需的技术人员及辅助工人以及安装所需的工具、辅材，保证水、电、路三通；在施工当中涉及客户各部门要求办理的所需手续并协调外围事务等。</span>
                        </p>
                        <p>
                            <span style="font-size: 12px;">5.2承包安装</span>
                        </p>
                        <p>
                            <span style="font-size: 12px;">除了客户提供相应的设备资料、平面布置图、工具、相关手续办理外，其他都有艾达机械单独完成。</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                    </div>
            </div>
        </div>
        <%include ../public/footer.ejs%>
            <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="/js/global/common.js"></script>
</body>

</html>
