<!DOCTYPE html>
<html>

<head>
    <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/servicesupport.css' />
</head>

<body>
    <%include ../public/header.ejs%>
        <div class="servicesupport">
       <div class="bread">
            <p class="zp-wrap">您当前位置：<a href="/">首页</a>&gt;<a href="/service/guarantee/">服务保障</a></p>
        </div>
            <div class="zp-wrap">
                <%include ../public/service.ejs%>
                    <div class="servicesupport-container">
                        <p>
                            <span style="font-size: 12px;"></span>
                        </p>
                        <p>
                            <span style="font-size: 12px;">我们的核心企业文化理念是“热爱我们的客户，为客户创造财富，带去欢乐”，我们公司的客 户服务工作一直本着这样的原 则进行。公司总经理这样说过：“如果只是把产品卖 给客户，把钞票赚到手，这样的企业不会有大的发展空间。只有 先为客户创造财富，才会有更 多的客户购买我们的产品，我们才会有更大的发展空间。”所以，我们的客户服务工作一直是 我们 公司工作的一个重心，我们的客户服务工作主要分为三个阶段：即售前设计、销售跟踪和 售后服务。<br/><br/><span style="font-size: 14px;"><strong>售前设计 ：</strong></span>
                            <br/>根据客户的实际需求确定设备的型号及规格，也可以按照客户的特殊要求设计定制，并为客户 提供生产线设计的流程，真正为客户设计一个满意的合理的生产线。并可以为客户培训相关的 技术人员，使其掌握一定的技术常识和产品维护技巧。所有这一切不收取客户任何费用。
                            <br/>
                            <br/><span style="font-size: 14px;"><strong>销售跟踪：</strong></span>
                            <br/>在销售过程中，时刻跟踪产品的使用过程，在保障产品质量的同时尽量缩短生产周期，并注意 产品的验收工作。另外，免费派公司的高级技术人员到客户那里协助客户设计解决方案，力求产品使用合理且成本最低。
                            <br/>
                            <br/><span style="font-size: 14px;"><strong>售后服务：</strong></span>
                            <br/>免费指派专门的售后服务人员，到达现场指导客户安装调试，直至成功，并且负责培训操作人 员，直到客户完全能自行操作生产。</span>
                        </p>
                        <p>
                            <span style="font-size: 12px;"><br/></span>
                        </p>
                        <p>
                            <br/>
                        </p>
                    </div>
            </div>
        </div>
        <%include ../public/footer.ejs%>
            <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="/js/global/common.js"></script>
</body>

</html>
