<div class="servicesupport-slider">
    <ul>
        <li class="newscenter">关于AIDA</li>
        <li class="<%=type==1?'service-cur':''%>"><a href="/companyinfo">公司简介</a></li>
        <li class="<%=type==2?'service-cur':''%>"><a href="/companyhonor">公司荣誉</a></li>
        <li class="<%=type==3?'service-cur':''%>"><a href="/companyculture">公司文化</a></li>
        <li class="<%=type==4?'service-cur':''%>"><a href="/contactus">联系我们</a></li>
    </ul>
</div>
