<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=1080">
<%if(inlanguage==='en'){%>
<!--指明默认语系为美式英语-->
<meta http-equiv="Content-Language" content="en-US" />
<%}%>
<!--上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后-->
<meta name="keywords" content="<%=keyword %>">
<meta name="description" content="<%=describes%>">
<title><%= title %></title>
<!--[if lt IE 9]>
<script src="/js/libs/html5shiv.min.js"></script>
<script src="/js/libs/respond.min.js"></script>
<![endif]-->
<link rel='stylesheet' href='/css/base.css?t=201705102356' />
<link rel='stylesheet' href='/css/style.css?t=201705102356' />