<div class="servicesupport-slider">
    <ul>
        <li class="newscenter">新闻中心</li>
        <li class="<%=type==1?'cur':''%>"><a href="/entrepriseNews"><%= __('EntreprisesNews') %></a></li>
        <li class="<%=type==2?'cur':''%>"><a href="/productInformation"><%= __('ProductInformation') %></a></li>
    </ul>
</div>
